$p: 7px;
$cardPadding: $p * 2;
$cardWidth: ($p*18) + $cardPadding;
$cardHeight: $cardWidth + ($cardPadding*2.5);
$transDuration: 0.4s;
$transTimeFunc: ease-out;

$colors: (
  score: (
    last: red
  )
);

@function key($map, $key, $sub-key: null) {
  @if map-has-key($map, $key) {
    $val: map-get($map, $key);
    @if $sub-key and map-has-key($val, $sub-key) {
      $val: map-get($val, $sub-key);
    }
    @return $val;
  }
}

@function color($key, $sub-key: null) {
  @return key($colors, $key, $sub-key);
}

.main--jeu {
  padding: 87px 36px 36px 36px;
  font-family: $font-title;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  box-sizing: border-box;

  @media (min-width: 600px) {
    padding-top: 99px;
  }
}

.footer--jeu{
  margin-top: 0;
}

.card{
  &__list {
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1100px;

    @media (min-width: 600px) {
      padding: 0;
    }
  }

  &__el {
    position: relative;
    margin: 1%;
    padding-top: $cardPadding*3/2;
      padding-left: $cardPadding/2;
      width: $cardWidth/2;
      height: $cardHeight/2;
    cursor: pointer;
    transform: translate3d(0,0,0);
    transform-style: preserve-3d;
    transition: transform $transDuration $transTimeFunc;
    border-radius: 3px;
    user-select: none;

    .front:before,
    .front:after,
    .back:before,
    .back:after{
      top: $cardPadding*3/2;
      left: $cardPadding/2;
      transform: scale(0.5);
    }

    @media (min-width: 600px) {
      padding-top: $cardPadding*3;
      padding-left: $cardPadding;
      width: $cardWidth;
      height: $cardHeight;

      .front:before,
      .front:after,
      .back:before,
      .back:after{
        top: $cardPadding*3;
        left: $cardPadding;
        transform: scale(1);
      }
      
    }
  
    .front,
    .back {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 70%;
            max-height: 100%;
        }
    }

    & img{
      opacity: 0.5;
    }

    &.matched img {
      opacity: 1;
    }

    &:hover{
      & img{
        @media (min-width: 1300px) {
          opacity: 1;
          transition: 0.5s;
        }
      }
    }
  }
}

.info {
  width: 100%;
  max-width: 472px;

  &__list {
    margin: 36px 0;
    display: flex;
    justify-content: space-evenly;

    span {
      color: $c-title;
      &.is-updating {
        animation: bounce 1s;
      }
      &.last-turn {
        color: color(score, last);
      }
    }

    @media (min-width: 600px) {
      font-size: 27px;
    }
  }
}



// Actions
.is-selected,
[data-matched=true] {
  transform: translate3d(0,0,0) rotateY(180deg);
}
[data-matched=true] {
  animation: matchSuccess $transDuration $transTimeFunc 3;
}

// Success!
.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  min-height: 100%;
  text-align: center;
  background-color: rgba($c-bg2, 0.99);
  z-index: 10;
  opacity: 0;
  transform: translate3d(100%,0,0);
  transition: 
    opacity 0.2s ease-out,
    transform 0s 0.2s;

  &.is-visible {
    opacity: 1;
    transform: translate3d(0,0,100px);
    transition: 
      opacity 0.2s ease-out,
      transform 0s;
  }

  & .info {
    &__list {
      position: relative;
      display: flex;
      flex-direction: column;
    }

    &__el {
      margin-bottom: 11px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  &__icon {
    width: 112px;
    margin: 27px 0;
    position: relative;
    transform: scale(1.5);
    background-color: transparent;
    box-shadow: none;
    transform: rotateY(0);
    opacity: 0;
    transition: opacity 0.2s 0.4s;
    .is-visible & {
      opacity: 1;
      animation: bounce 0.5s 0.4s ease-out forwards;
    }

    & img{
      width: 100%;
    }
  }

  &__btn {
    font-family: $font-title;
    color: $c-text;
    display: block;
    font-size: 20px;
    padding: 11px 47px 11px 47px;
    margin: 36px 0;
    background-color: $c-btn;

    &:hover{
      @media (min-width: 1300px) {
        transform: scale(1.1);
        transition: 0.2s;
      }
    }
  }
}

.front,
.back {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  box-shadow: -6px -6px 36px 2px rgba(black, 0.15) inset;
  backface-visibility: hidden;
  overflow: hidden;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: $cardPadding*3;
    left: $cardPadding;
    width: $p;
    height: $p;
  }
}

.front {
  background-color: $c-bg;
  transform: rotateY(180deg);
}

.back {
  background-color: $c-btn;
  transform: rotateY(0);
}

@keyframes matchSuccess {
  0% { transform: translate3d(0,0,0) rotateY(180deg) scale(1); }
  50% { transform: translate3d(0,0,0) rotateY(180deg) scale(1.05); }
  100% { transform: translate3d(0,0,0) rotateY(180deg) scale(1); }
}

@keyframes bounce {
  0% { transform: scale(0.1); }
  20% { transform: scale(1.4); }
  40% { transform: scale(0.8); }
  60% { transform: scale(1.1); }
  80% { transform: scale(0.9); }
  100% { transform: scale(1); }
}