.hello{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 112px 36px 150px 36px;

    &__list{
        margin-bottom: 63px;
        max-width: 354px;
    }

    &__el:nth-child(2){
        margin-bottom: 20px;
    }

    &__container{
        transform: rotate(10deg);
    }

    &__follow{
        transition: transform 0.1s ease;
    }

    &__me{
        width: 266px;
    }

    &__title{
        padding-top: 112px;
    }
}

@media(min-width: 600px) {
    .hello{
        padding: 150px 0px 199px 0px;

        &__list{
            margin-bottom: 84px;
            max-width: 472px;
        }

        &__el:nth-child(2){
            margin-bottom: 27px;
        }

        &__me{
            width: 354px;
        }
    }
}

@media(min-width: 1300px) {
    .hello{
        padding: 199px 0px 354px 0px;
        flex-direction: row;
        justify-content: space-evenly;
    
        &__list{
            margin-bottom: 0px;
        }

        &__me{
            width: 472px;
            padding-top: 112px;
        }
    }
}

@media(min-width: 1900px) {
    .hello{
        &__me{
            width: 629px;
        }
    }
}

@media(min-width: 2200px) {
    .hello{
        padding: 266px 0px 472px 0px;

        &__list{
            margin-bottom: 112px;
            max-width: 629px;
        }

        &__el:nth-child(2){
            margin-bottom: 36px;
        }

        &__me{
            width: 839px;
        }
    }
}