.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    
    @media (min-width: 600px) {
      padding-top: 99px;
    }

    &::before{
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../assets/images/texture1.png");
        background-size: cover;
        background-position: center;
        z-index: -1;
    }

    &__title{
        font-size: 112px;
        margin-bottom: 27px;
        line-height: 100%;
    }

    &__title span{
        display: block;
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .home::before {
        background-image: url("../assets/images/texture1@2x.png");
    }
}

@media(min-width: 600px) {
    .home{
        &__title{
            font-size: 150px;
            margin-bottom: 36px;
        }

        &__nom{
            font-size: 27px;
        }
    }
}

@media(min-width: 1300px) {
    .home{
        &__title{
            font-size: 199px;
            margin-bottom: 47px;
        }

        &__nom{
            font-size: 36px;
        }
    }
}

@media(min-width: 2200px) {
    .home{
        &__title{
            font-size: 266px;
            margin-bottom: 63px;
        }

        &__nom{
            font-size: 47px;
        }
    }
}