.menu{
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    z-index: 10;
    transition: top 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: $font-title;
    font-size: 27px;
    padding:  20px;
    background: $c-bg2;
    border-bottom: 1px solid $c-btn;

    &__list{
        display: flex;
        flex-direction: row;
    }

    &__el{
        margin-right: 27px;
        opacity: 0.6;

        &--active{
            opacity: 1;
        }
    }

    &__el:last-child{
        margin-right: 0;
    }

    &__logo img{
        max-height: 47px;
        width: fit-content;
    }

    &__btn{
        display: none;
    }

    &--hidden {
        top: -100%;
    }
    
}

@media(min-width: 600px) {
    .menu{
        &__el{
            margin-right: 36px;
        }

        &__btn{
            display: block;
            font-size: 20px;
            padding: 11px 47px 11px 47px;
            background-color: $c-btn;
        }
    }
}

@media(min-width: 1300px) {
  .menu{
      &__btn:hover{
        transform: scale(1.1);
        transition: 0.1s;
      }
      &__logo:hover{
          transform: scale(1.1);
          transition: 0.1s;
      }
      &__el:hover{
          opacity: 0.8;
      }
  }
}