.jeu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 36px 112px 36px;

    &__title{
        padding-top: 112px;
    }
}

@media(min-width: 600px) {
    .jeu{
        padding: 199px 0px 150px 0px;
    }
}

@media(min-width: 1300px) {
    .jeu{
        padding: 354px 0px 199px 0px;
    }
}

@media(min-width: 2200px) {
    .jeu{
        padding: 472px 0px 266px 0px;
    }
}