@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Londrina+Solid:wght@100;300;400;900&display=swap');

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom, $c-bg2, $c-bg);
  font-family: $font-text;
  font-size: $size-text;
  color: #ffffff;
  height: 400vh;
}

p{
  margin: 0;
}

h1{
  font-family: $font-title;
  color: $c-title;
  margin: 0;
}

h2{
  font-family: $font-title;
  color: $c-title;
  margin: 0;
}

h3{
  font-family: $font-title;
  color: $c-title;
  margin: 0;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  color: $c-text;
  text-decoration: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}