@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Londrina+Solid:wght@100;300;400;900&display=swap');

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom, $c-bg2, $c-bg);
  font-family: $font-text;
  font-size: $size-text;
  color: #ffffff;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $c-bg2;
  background-color: $c-title;
  padding: 27px 0 15px 0;
  margin-top: 266px;

  & a{
    color: $c-bg2;
  }

  & svg{
    vertical-align: middle;
  }

  & small{
    margin-top: 15px;
  }
}

p{
  line-height: 140%;
  margin: 0;
}

h1{
  font-family: $font-title;
  color: $c-title;
  margin: 0;
}

h2{
  font-size: 63px;
  font-family: $font-title;
  color: $c-title;
  margin: 0;
}

h3{
  font-family: $font-title;
  color: $c-title;
  margin: 0;
}

small{
  font-size: 15px
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  color: $c-text;
  text-decoration: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

@media(min-width: 600px) {
  p{
    font-size: 27px;
  }
  
  h2{
    font-size: 84px;
  }
}

@media(min-width: 1300px) {
  footer {
    & small a:hover{
      opacity: 0.5;
    }
  }
}

@media(min-width: 1900px) {
  h2{
    font-size: 112px;
  }
}

@media(min-width: 2200px) {
  p{
    font-size: 36px;
  }

  h2{
    font-size: 150px;
  }
}