@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Londrina+Solid:wght@100;300;400;900&display=swap');

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom, $c-bg2, $c-bg);
  font-family: $font-text;
  font-size: $size-text;
  color: #ffffff;

  &.loaded {
		overflow-y: auto;
	}

  &.no-scroll {
    overflow: hidden;
  }
}

footer {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $c-bg2;
  border-top: 6px solid $c-btn;
  padding: 27px 0 15px 0;
  margin-top: 266px;

  & img{
    vertical-align: middle;
  }

  & small{
    margin-top: 15px;
  }

  & small a{
    text-decoration: underline;
  }
}

p{
  line-height: 140%;
  margin: 0;
}

h1{
  font-family: $font-title;
  color: $c-title;
  margin: 0;
}

h2{
  font-size: 84px;
  font-family: $font-title;
  color: $c-title;
  margin: 0;
  margin-bottom: 36px;
}

h3{
  font-family: $font-title;
  color: $c-title;
  margin: 0;
}

small{
  font-size: 15px
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  color: $c-text;
  text-decoration: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.move{
  --rotatex: 0deg;
  --rotatey: 0deg;
  transform: rotateX(var(--rotatex)) rotateY(var(--rotatey));
  transition: transform 0.1s ease;
}

@media(min-width: 600px) {
  footer {
    margin-top: 354px;
  }


  p{
    font-size: 27px;
  }
  
  h2{
    font-size: 112px;
    margin-bottom: 47px;
  }
}

@media(min-width: 1300px) {
  footer {
    margin-top: 472px;

    & small a:hover{
      opacity: 0.8;
      transition: opacity 0.2s;
    }
  }
}

@media(min-width: 1900px) {
  h2{
    font-size: 150px;
    margin-bottom: 63px;
  }
}

@media(min-width: 2200px) {
  footer {
    margin-top: 629px;
  }

  p{
    font-size: 36px;
  }

  h2{
    font-size: 199px;
    margin-bottom: 84px;
  }
}