@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Londrina+Solid:wght@100;300;400;900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom, #09030D, #1B0C21);
  font-family: "Eczar", serif;
  font-size: 20px;
  color: #ffffff;
}
body.loaded {
  overflow-y: auto;
}
body.no-scroll {
  overflow: hidden;
}

footer {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #09030D;
  border-top: 6px solid #71289F;
  padding: 27px 0 15px 0;
  margin-top: 266px;
}
footer img {
  vertical-align: middle;
}
footer small {
  margin-top: 15px;
}
footer small a {
  text-decoration: underline;
}

p {
  line-height: 140%;
  margin: 0;
}

h1 {
  font-family: "Londrina Solid", sans-serif;
  color: #7BEA44;
  margin: 0;
}

h2 {
  font-size: 84px;
  font-family: "Londrina Solid", sans-serif;
  color: #7BEA44;
  margin: 0;
  margin-bottom: 36px;
}

h3 {
  font-family: "Londrina Solid", sans-serif;
  color: #7BEA44;
  margin: 0;
}

small {
  font-size: 15px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.move {
  --rotatex: 0deg;
  --rotatey: 0deg;
  transform: rotateX(var(--rotatex)) rotateY(var(--rotatey));
  transition: transform 0.1s ease;
}

@media (min-width: 600px) {
  footer {
    margin-top: 354px;
  }
  p {
    font-size: 27px;
  }
  h2 {
    font-size: 112px;
    margin-bottom: 47px;
  }
}
@media (min-width: 1300px) {
  footer {
    margin-top: 472px;
  }
  footer small a:hover {
    opacity: 0.8;
    transition: opacity 0.2s;
  }
}
@media (min-width: 1900px) {
  h2 {
    font-size: 150px;
    margin-bottom: 63px;
  }
}
@media (min-width: 2200px) {
  footer {
    margin-top: 629px;
  }
  p {
    font-size: 36px;
  }
  h2 {
    font-size: 199px;
    margin-bottom: 84px;
  }
}
.menu {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  transform: translateY(0%);
  z-index: 10;
  transition: transform 0.5s;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Londrina Solid", sans-serif;
  padding: 20px;
  background: #1B0C21;
  border-bottom: 6px solid #71289F;
}
.menu__list {
  display: flex;
  flex-direction: row;
}
.menu__el {
  margin-right: 20px;
  opacity: 0.6;
}
.menu__el--active {
  opacity: 1;
}
.menu__el:last-child {
  margin-right: 0;
}
.menu__logo img {
  max-height: 36px;
  width: -moz-fit-content;
  width: fit-content;
}
.menu__btn {
  display: none;
}
.menu--hidden {
  transform: translateY(-100%);
}

@media (min-width: 600px) {
  .menu {
    font-size: 27px;
    justify-content: space-between;
  }
  .menu__el {
    margin-right: 36px;
  }
  .menu__btn {
    display: block;
    font-size: 20px;
    padding: 11px 47px 11px 47px;
    background-color: #71289F;
  }
  .menu__logo img {
    max-height: 47px;
  }
}
@media (min-width: 1300px) {
  .menu__container {
    width: 143px;
    display: flex;
  }
  .menu__btn:hover {
    transform: scale(1.1);
    transition: 0.2s;
  }
  .menu__logo:hover {
    transform: scale(1.1);
    transition: 0.2s;
  }
  .menu__el:hover {
    opacity: 0.8;
    transition: opacity 0.2s;
  }
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}
@media (min-width: 600px) {
  .home {
    padding-top: 99px;
  }
}
.home::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/texture1.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.home__title {
  font-size: 112px;
  margin-bottom: 27px;
  line-height: 100%;
}
.home__title span {
  display: block;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .home::before {
    background-image: url("../assets/images/texture1@2x.png");
  }
}
@media (min-width: 600px) {
  .home__title {
    font-size: 150px;
    margin-bottom: 36px;
  }
  .home__nom {
    font-size: 27px;
  }
}
@media (min-width: 1300px) {
  .home__title {
    font-size: 199px;
    margin-bottom: 47px;
  }
  .home__nom {
    font-size: 36px;
  }
}
@media (min-width: 2200px) {
  .home__title {
    font-size: 266px;
    margin-bottom: 63px;
  }
  .home__nom {
    font-size: 47px;
  }
}
.hello {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px 36px 150px 36px;
  position: relative;
}
.hello__list {
  margin-bottom: 84px;
  max-width: 354px;
}
.hello__el:nth-child(2) {
  margin-bottom: 20px;
}
.hello__container {
  transform: rotate(10deg);
}
.hello__follow {
  transition: transform 0.1s ease;
}
.hello__me {
  width: 266px;
}
.hello__title {
  padding-top: 112px;
}
.hello::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background: linear-gradient(to bottom, rgba(113, 40, 159, 0), rgba(113, 40, 159, 0.08));
  z-index: -1;
}

@media (min-width: 600px) {
  .hello {
    padding: 87px 84px 199px 84px;
  }
  .hello__list {
    margin-bottom: 112px;
    max-width: 472px;
  }
  .hello__el:nth-child(2) {
    margin-bottom: 27px;
  }
  .hello__me {
    width: 354px;
  }
}
@media (min-width: 1300px) {
  .hello {
    padding: 242px 12vw 354px 12vw;
    flex-direction: row;
    justify-content: space-between;
  }
  .hello__list {
    margin-bottom: 0;
  }
  .hello__me {
    width: 30vw;
    padding-top: 112px;
  }
}
@media (min-width: 1900px) {
  .hello__me {
    width: 629px;
  }
}
@media (min-width: 2200px) {
  .hello {
    padding: 360px 12vw 472px 12vw;
  }
  .hello__list {
    margin-bottom: 112px;
    max-width: 629px;
  }
  .hello__el:nth-child(2) {
    margin-bottom: 36px;
  }
  .hello__me {
    width: 35vw;
  }
}
.footer__list {
  display: flex;
}
.footer__el {
  margin-right: 20px;
}
.footer__el:last-child {
  margin-right: 0px;
}

@media (min-width: 1300px) {
  .footer__el img:hover {
    transform: scale(1.1);
    transition: 0.2s;
  }
}
.projets {
  --border-height: 36px;
  --padding-x: 36px;
  --padding-y: 150px;
  --total-padding-x: calc(var(--padding-x) * 2);
  background-color: #09030D;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("../assets/images/texture2.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: calc(var(--padding-y) - 112px) var(--padding-x) var(--padding-y) var(--padding-x);
  position: relative;
}
.projets::before, .projets::after {
  content: "";
  position: absolute;
  width: calc(100% + var(--padding-x));
  left: calc(-1 * var(--padding-x));
  height: var(--border-height);
  background-image: url("../assets/images/bordure.svg");
  background-repeat: repeat-x;
}
.projets::before {
  top: calc(-1 * var(--border-height) / 2);
}
.projets::after {
  bottom: calc(-1 * var(--border-height) / 2);
}
.projets__title {
  padding-top: 112px;
  margin-bottom: 112px;
}
.projets__list {
  display: grid;
  justify-content: center;
  row-gap: 84px;
}
.projets__el {
  display: none;
}
.projets__el:first-child {
  display: block;
  transform: rotate(-10deg);
}
.projets__el:nth-child(3) {
  display: block;
  transform: rotate(2deg);
}
.projets__el:nth-child(5) {
  display: block;
  transform: rotate(10deg);
}
.projets img {
  width: 266px;
  vertical-align: middle;
  filter: drop-shadow(0 0 20px #71289f);
  animation: smoke 3s ease-in infinite;
}
@keyframes smoke {
  0% {
    filter: drop-shadow(0 0 40px rgba(113, 40, 159, 0.5));
  }
  50% {
    filter: drop-shadow(0 0 40px #71289f);
  }
  100% {
    filter: drop-shadow(0 0 40px rgba(113, 40, 159, 0.5));
  }
}
.projets__follow {
  transition: transform 0.1s ease;
}

@media (min-width: 600px) {
  .projets {
    --border-height: 47px;
    --padding-x: 84px;
    --padding-y: 199px;
  }
  .projets img {
    width: 100%;
  }
  .projets__title {
    margin-bottom: 150px;
  }
  .projets__list {
    grid-template-columns: 1fr 1fr;
    row-gap: 47px;
    -moz-column-gap: 47px;
         column-gap: 47px;
  }
  .projets__el:first-child {
    transform: translateX(50px) scale(0.9) rotate(-5deg);
  }
  .projets__el:nth-child(3) {
    transform: translateX(-50px) scale(0.8);
  }
  .projets__el:nth-child(5) {
    transform: translateY(50px) scale(0.9) rotate(15deg);
  }
  .projets__el:nth-child(2) {
    display: block;
    transform: translateX(50px) translateY(50px) scale(0.7);
  }
  .projets__el:nth-child(7) {
    display: block;
    transform: translateX(50px) translateY(-50px) scale(0.6);
  }
}
@media (min-width: 1300px) {
  .projets {
    --border-height: 63px;
    --padding-x: 12vw;
    --padding-y: 354px;
  }
  .projets__title {
    margin-bottom: 199px;
  }
  .projets__list {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 84px;
    -moz-column-gap: 84px;
         column-gap: 84px;
  }
  .projets__el:first-child {
    transform: translateX(20px) translatey(20px) rotate(10deg) scale(0.9);
  }
  .projets__el:first-child:hover {
    transform: translateX(20px) translatey(20px) rotate(10deg) scale(1);
    transition: 0.3s;
  }
  .projets__el:nth-child(2) {
    transform: translateX(-50px) translatey(200px) scale(0.7);
  }
  .projets__el:nth-child(2):hover {
    transform: translateX(-50px) translatey(200px) scale(0.8);
    transition: 0.3s;
  }
  .projets__el:nth-child(3) {
    transform: translateX(-50px) translatey(20px) rotate(-5deg);
  }
  .projets__el:nth-child(3):hover {
    transform: translateX(-50px) translatey(20px) rotate(-5deg) scale(1.1);
    transition: 0.3s;
  }
  .projets__el:nth-child(4) {
    display: block;
    transform: translateX(50px) rotate(-5deg) scale(0.6);
  }
  .projets__el:nth-child(4):hover {
    transform: translateX(50px) rotate(-5deg) scale(0.7);
    transition: 0.3s;
  }
  .projets__el:nth-child(5) {
    transform: translateX(150px) translatey(200px) scale(0.95);
  }
  .projets__el:nth-child(5):hover {
    transform: translateX(150px) translatey(200px) scale(1.05);
    transition: 0.3s;
  }
  .projets__el:nth-child(6) {
    display: block;
    transform: translateX(50px) translatey(50px) rotate(5deg) scale(0.5);
  }
  .projets__el:nth-child(6):hover {
    transform: translateX(50px) translatey(50px) rotate(5deg) scale(0.6);
    transition: 0.3s;
  }
  .projets__el:nth-child(7) {
    transform: translateX(250px) translatey(-200px) scale(0.5);
  }
  .projets__el:nth-child(7):hover {
    transform: translateX(250px) translatey(-200px) scale(0.6);
    transition: 0.3s;
  }
}
@media (min-width: 2200px) {
  .projets {
    --border-height: 84px;
    --padding-x: 12vw;
    --padding-y: 472px;
  }
  .projets__title {
    margin-bottom: 266px;
  }
}
.jeu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px 36px 0 36px;
  position: relative;
}
.jeu__title {
  padding-top: 112px;
}
.jeu::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 10vh;
  background: linear-gradient(to top, rgba(113, 40, 159, 0), rgba(113, 40, 159, 0.08));
  z-index: -1;
}
.jeu__list {
  max-width: 354px;
}
.jeu img {
  display: none;
}
.jeu__btn {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  margin-top: 36px;
  cursor: pointer;
  color: #ffffff;
  font-family: "Londrina Solid", sans-serif;
  transition: 0.2s ease;
  font-size: 20px;
  padding: 11px 47px 11px 47px;
  background-color: #71289F;
}
@media (min-width: 1300px) {
  .jeu__btn:hover {
    transform: scale(1.1);
    transition: 0.2s;
  }
}

@media (min-width: 600px) {
  .jeu {
    padding: 87px 84px 0 84px;
  }
  .jeu__list {
    max-width: 472px;
  }
  .jeu__btn {
    margin-top: 47px;
    font-size: 27px;
    padding: 15px 63px 15px 63px;
  }
}
@media (min-width: 1300px) {
  .jeu {
    padding: 242px 12vw 0 12vw;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .jeu img {
    display: block;
  }
}
@media (min-width: 1900px) {
  .jeu__btn {
    margin-top: 63px;
  }
}
@media (min-width: 2200px) {
  .jeu {
    padding: 360px 12vw 0 12vw;
  }
  .jeu__list {
    max-width: 629px;
  }
  .jeu__btn {
    margin-top: 84px;
    font-size: 36px;
    padding: 20px 84px 20px 84px;
  }
}
.main--jeu {
  padding: 87px 36px 36px 36px;
  font-family: "Londrina Solid", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  box-sizing: border-box;
}
@media (min-width: 600px) {
  .main--jeu {
    padding-top: 99px;
  }
}

.footer--jeu {
  margin-top: 0;
}

.card__list {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1100px;
}
@media (min-width: 600px) {
  .card__list {
    padding: 0;
  }
}
.card__pop {
  opacity: 0;
}
.card__pop.visible {
  opacity: 1;
  animation: bounce 0.5s ease forwards;
}
.card__el {
  position: relative;
  padding-top: 21px;
  padding-left: 7px;
  margin: 6px;
  width: 70px;
  height: 87.5px;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  transition: transform 0.4s ease-out;
  border-radius: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.card__el .front:before,
.card__el .front:after,
.card__el .back:before,
.card__el .back:after {
  top: 21px;
  left: 7px;
  transform: scale(0.5);
}
@media (min-width: 600px) {
  .card__el {
    padding-top: 42px;
    padding-left: 14px;
    width: 140px;
    height: 175px;
    margin: 11px;
  }
  .card__el .front:before,
  .card__el .front:after,
  .card__el .back:before,
  .card__el .back:after {
    top: 42px;
    left: 14px;
    transform: scale(1);
  }
}
.card__el .front,
.card__el .back {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__el .front img,
.card__el .back img {
  width: 70%;
  max-height: 100%;
}
.card__el img {
  opacity: 0.5;
}
.card__el.matched img {
  opacity: 1;
}
@media (min-width: 1300px) {
  .card__el:hover img {
    opacity: 1;
    transition: 0.5s;
  }
}

.info {
  width: 100%;
  max-width: 472px;
}
.info__list {
  margin: 36px 0;
  display: flex;
  justify-content: space-evenly;
}
.info__list span {
  color: #7BEA44;
}
.info__list span.is-updating {
  animation: bounce 1s;
}
.info__list span.last-turn {
  color: red;
}
@media (min-width: 600px) {
  .info__list {
    font-size: 27px;
  }
}

.is-selected,
[data-matched=true] {
  transform: translate3d(0, 0, 0) rotateY(180deg);
}

[data-matched=true] {
  animation: matchSuccess 0.4s ease-out 3;
}

.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  text-align: center;
  background-color: rgba(9, 3, 13, 0.99);
  z-index: 10;
  opacity: 0;
  transform: translate3d(100%, 0, 0);
  transition: opacity 0.2s ease-out, transform 0s 0.2s;
}
.success.is-visible {
  opacity: 1;
  transform: translate3d(0, 0, 100px);
  transition: opacity 0.2s ease-out, transform 0s;
}
.success .info__list {
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}
.success .info__el {
  margin-bottom: 11px;
}
.success .info__el:last-child {
  margin-bottom: 0;
}
.success__icon {
  width: 112px;
  margin: 36px 0 11px 0;
  position: relative;
  transform: scale(1.5);
  background-color: transparent;
  box-shadow: none;
  transform: rotateY(0);
  opacity: 0;
  transition: opacity 0.2s 0.4s;
}
.is-visible .success__icon {
  opacity: 1;
  animation: bounce 0.5s 0.4s ease-out forwards;
}
.success__icon img {
  width: 100%;
}
.success__btn {
  font-family: "Londrina Solid", sans-serif;
  color: #ffffff;
  display: block;
  font-size: 20px;
  padding: 11px 47px 11px 47px;
  margin: 36px 0;
  background-color: #71289F;
}
@media (min-width: 1300px) {
  .success__btn:hover {
    transform: scale(1.1);
    transition: 0.2s;
  }
}

.front,
.back {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  box-shadow: -6px -6px 36px 2px rgba(0, 0, 0, 0.15) inset;
  backface-visibility: hidden;
  overflow: hidden;
}
.front:before, .front:after,
.back:before,
.back:after {
  content: "";
  position: absolute;
  top: 42px;
  left: 14px;
  width: 7px;
  height: 7px;
}

.front {
  background-color: #1B0C21;
  transform: rotateY(180deg);
}

.back {
  background-color: #71289F;
  transform: rotateY(0);
}

@keyframes matchSuccess {
  0% {
    transform: translate3d(0, 0, 0) rotateY(180deg) scale(1);
  }
  50% {
    transform: translate3d(0, 0, 0) rotateY(180deg) scale(1.05);
  }
  100% {
    transform: translate3d(0, 0, 0) rotateY(180deg) scale(1);
  }
}
@keyframes bounce {
  0% {
    transform: scale(0.1);
  }
  20% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(0.8);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.overlay.invisible {
  display: none;
}
.overlay .overlayDoor:before, .overlay .overlayDoor:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background: #09030D;
  transition: 0.5s cubic-bezier(0.77, 0, 0.18, 1);
  transition-delay: 0.8s;
}
.overlay .overlayDoor:before {
  left: 0;
}
.overlay .overlayDoor:after {
  right: 0;
}
.overlay.loaded .overlayDoor:before {
  left: -50%;
}
.overlay.loaded .overlayDoor:after {
  right: -50%;
}
.overlay.loaded .overlayContent {
  opacity: 0;
  margin-top: -15px;
}
.overlay .overlayContent {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s cubic-bezier(0.77, 0, 0.18, 1);
}
.overlay .overlayContent .skip {
  display: block;
  text-align: center;
  margin: 50px auto 0;
  cursor: pointer;
  color: #ffffff;
  font-family: "Londrina Solid", sans-serif;
  transition: 0.2s ease;
  font-size: 20px;
  padding: 11px 47px 11px 47px;
  background-color: #71289F;
}
@media (min-width: 1300px) {
  .overlay .overlayContent .skip:hover {
    transform: scale(1.1);
    transition: 0.2s;
  }
}

.loader {
  width: 128px;
  height: 128px;
  border: 3px solid #ffffff;
  border-bottom: 3px solid transparent;
  border-radius: 50%;
  position: relative;
  animation: spin 1s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader .inner {
  width: 64px;
  height: 64px;
  border: 3px solid transparent;
  border-top: 3px solid #ffffff;
  border-radius: 50%;
  animation: spinInner 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinInner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-720deg);
  }
}/*# sourceMappingURL=app.css.map */