@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Londrina+Solid:wght@100;300;400;900&display=swap");
body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom, #09030D, #1B0C21);
  font-family: "Eczar", serif;
  font-size: 20px;
  color: #ffffff;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #09030D;
  background-color: #7BEA44;
  padding: 27px 0 15px 0;
  margin-top: 266px;
}
footer a {
  color: #09030D;
}
footer svg {
  vertical-align: middle;
}
footer small {
  margin-top: 15px;
}

p {
  line-height: 140%;
  margin: 0;
}

h1 {
  font-family: "Londrina Solid", sans-serif;
  color: #7BEA44;
  margin: 0;
}

h2 {
  font-size: 63px;
  font-family: "Londrina Solid", sans-serif;
  color: #7BEA44;
  margin: 0;
}

h3 {
  font-family: "Londrina Solid", sans-serif;
  color: #7BEA44;
  margin: 0;
}

small {
  font-size: 15px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 600px) {
  p {
    font-size: 27px;
  }
  h2 {
    font-size: 84px;
  }
}
@media (min-width: 1300px) {
  footer small a:hover {
    opacity: 0.5;
  }
}
@media (min-width: 1900px) {
  h2 {
    font-size: 112px;
  }
}
@media (min-width: 2200px) {
  p {
    font-size: 36px;
  }
  h2 {
    font-size: 150px;
  }
}
.menu {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  z-index: 10;
  transition: top 0.3s;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Londrina Solid", sans-serif;
  font-size: 27px;
  padding: 20px;
  background: #09030D;
  border-bottom: 1px solid #71289F;
}
.menu__list {
  display: flex;
  flex-direction: row;
}
.menu__el {
  margin-right: 20px;
  opacity: 0.6;
}
.menu__el--active {
  opacity: 1;
}
.menu__el:last-child {
  margin-right: 0;
}
.menu__logo svg {
  max-height: 47px;
  width: -moz-fit-content;
  width: fit-content;
}
.menu__btn {
  display: none;
}
.menu--hidden {
  top: -100%;
}

@media (min-width: 600px) {
  .menu__el {
    margin-right: 36px;
  }
  .menu__btn {
    display: block;
    font-size: 20px;
    padding: 11px 47px 11px 47px;
    background-color: #71289F;
  }
}
@media (min-width: 1300px) {
  .menu__btn:hover {
    transform: scale(1.1);
    transition: 0.1s;
  }
  .menu__logo:hover {
    transform: scale(1.1);
    transition: 0.1s;
  }
  .menu__el:hover {
    opacity: 0.8;
  }
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.home::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/texture1.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.home__title {
  font-size: 112px;
  margin-bottom: 27px;
  line-height: 100%;
}
.home__title span {
  display: block;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .home::before {
    background-image: url("../assets/images/texture1@2x.png");
  }
}
@media (min-width: 600px) {
  .home__title {
    font-size: 150px;
    margin-bottom: 36px;
  }
  .home__nom {
    font-size: 27px;
  }
}
@media (min-width: 1300px) {
  .home__title {
    font-size: 199px;
    margin-bottom: 47px;
  }
  .home__nom {
    font-size: 36px;
  }
}
@media (min-width: 2200px) {
  .home__title {
    font-size: 266px;
    margin-bottom: 63px;
  }
  .home__nom {
    font-size: 47px;
  }
}
.hello {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 112px 20px;
}
.hello__list {
  margin-bottom: 63px;
  max-width: 354px;
}
.hello__title {
  margin-bottom: 36px;
}
.hello__el:nth-child(2) {
  margin-bottom: 20px;
}
.hello__container {
  transform: rotate(10deg);
}
.hello__follow {
  transition: transform 0.1s ease;
}
.hello__me {
  --rotatex: 0deg;
  --rotatey: 0deg;
  transform: rotateX(var(--rotatex)) rotateY(var(--rotatey));
  transition: transform 0.1s ease;
  width: 266px;
}

@media (min-width: 600px) {
  .hello {
    padding: 150px 0px;
  }
  .hello__list {
    margin-bottom: 84px;
    max-width: 472px;
  }
  .hello__title {
    margin-bottom: 47px;
  }
  .hello__el:nth-child(2) {
    margin-bottom: 27px;
  }
  .hello__me {
    width: 354px;
  }
}
@media (min-width: 1300px) {
  .hello {
    padding: 199px 0px;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .hello__list {
    margin-bottom: 0px;
  }
  .hello__me {
    width: 472px;
  }
}
@media (min-width: 1900px) {
  .hello__me {
    width: 629px;
  }
}
@media (min-width: 2200px) {
  .hello {
    padding: 266px 0px;
  }
  .hello__list {
    margin-bottom: 112px;
    max-width: 629px;
  }
  .hello__title {
    margin-bottom: 63px;
  }
  .hello__el:nth-child(2) {
    margin-bottom: 36px;
  }
  .hello__me {
    width: 839px;
  }
}
.footer__list {
  display: flex;
}
.footer__el {
  margin-right: 20px;
}
.footer__el:last-child {
  margin-right: 0px;
}

@media (min-width: 1300px) {
  .footer__el svg:hover {
    transform: scale(1.1);
    transition: 0.1s;
  }
}/*# sourceMappingURL=app.css.map */